*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgb(251, 218, 177);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-image: url(giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(87, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

h1{
    color: aliceblue;
    margin-top: 0.7%;
}

.nav-links{
    margin: 6%;
}

.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: aliceblue;
}

.navbar .name{
    font-size: 4em;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li.active a {
    margin: 0 25px;
}

.cadregris{
    background-color: rgba(0, 0, 0, 0.491);
    border-radius: 30px;
    height: 500px;
    margin: 5%;
}

h2{
    background-color: rgba(211, 167, 117);
    color: rgb(255, 255, 255);
    height: 130px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 2%;
    padding: 0.5vw;
}

main{
    height: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.ligne{
    background-color: rgb(211, 167, 117);
    color: rgb(255, 255, 255);
    padding: 1vw;
    border-radius: 30px;
}

.tableauAll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
}

.tableauUn{
    display: flex;
    flex-direction: column;
    min-width: 47vw;
    margin-left: -1%;
    margin-right: 2%;
    gap: 80%;
}

.tableauDeux{
    display: flex;
    flex-direction: column;
    min-width: 47vw;
    gap: 80%;
}

footer{
    margin-top: 24%;
    background-image: url(giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
}

h3{
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

@media all and (max-device-width: 480px){ 
    .tableauAll{
        display: flex;
        flex-direction: column;
    }
    .tableauUn{
        margin-left: 0%;
        margin-right: 0%;
    }
    .navbar{
        font-size: smaller;
        display: flex;
        flex-wrap: wrap;
    }
    h1{
        margin: -10%;
        margin-top: -3%;
    }
    .nav-links{
        margin-top: 25%;
    }
    .ligne{
        margin: 2%;
    }
    footer{
        margin-top: 142%;
    }
    h3{
        margin-left: 5%;
    }
    h2{
        margin: 4.5%;
        margin-bottom: 2.5%;
    }
}